<%= react_component('App', codes: @codes) %>
<div>
	<!-- ANIMATED CODE COUNTER -->
	<% if @codes_count && @codes_count < 10 %>
		<div class="code-count">0<%= @codes_count %></div>
	<% elsif @codes_count && @codes_count >= 10 %>
		<div class="code-count"><%= @codes_count %></div>
	<% end %>
</div>
